@model IEnumerable<Department>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Category ID</th>
        <th>On Sale</th>
        <th>Stock Level</th>
    </tr>
    @foreach (var product in Model)
    {
        <tr>
            <td>@product.Name</td>
             @foreach (var child in product.Categories1)
            {
               @* <td>@child.Name</td>*@
                 
                     @foreach (var grandChild in child.Products)
                    {
                         @foreach (var ggh in grandChild.Sales)
                        {
                            @foreach (var x in ggh.Employees)
                            {
                                <td>@x.FirstName</td>
                                <td>@x.LastName</td>
                                <td>@x.Title</td>
                            }
                        }
                    }
                 
            }
        </tr>      
    }
</table>